* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Header JS */
.header-container {
  display: flex;
  flex-direction: row;
  background-color: #18ffff;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.title {
  color: #607d8b;
}
/* Add Task js */

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 50px;
  outline: none;
  border: 1px solid #607d8b;
  background-color: #00e676;
  border-radius: 5px;
  margin-left: 3px;
}

/* Task List */
.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  height: 200px;
}

li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
}
